{% extends "_layouts/cp" %}

{% set selectedSubnavItem = 'settings' %}
{% set docTitle = 'HubSpot Commerce Settings' %}
{% set title = 'Settings' %}
{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}

{% block content %}
    <form action="" method="post" accept-charset="UTF-8" data-saveshortcut>
        {{ actionInput('hub-spot-ecommerce-bridge/settings/save-settings') }}
        {{ redirectInput('hub-spot-ecommerce-bridge/settings') }}
        {{ csrfInput() }}

        {{ forms.autosuggestField({
            first: true,
            label: 'HubSpot API Key',
            instructions: "The API Key for your HubSpot app.",
            id: 'apiKey',
            name: 'settings[apiKey]',
            placeholder: "",
            value: settings.apiKey,
            errors: settings.getErrors('apiKey'),
            suggestEnvVars: true,
            autofocus: true,
        }) }}

        {{ forms.autosuggestField({
            label: 'HubSpot Store ID',
            instructions: "The store ID of your HubSpot store.",
            id: 'storeId',
            name: 'settings[storeId]',
            placeholder: "",
            value: settings.storeId,
            errors: settings.getErrors('storeId'),
            suggestEnvVars: true,
            autofocus: false,
        }) }}

        {{ forms.autosuggestField({
            label: 'HubSpot Store Label',
            instructions: "The store label of your HubSpot store.",
            id: 'storeLabel',
            name: 'settings[storeLabel]',
            placeholder: "",
            value: settings.storeLabel,
            errors: settings.getErrors('storeLabel'),
            suggestEnvVars: true,
            autofocus: false,
        }) }}

        {{ forms.autosuggestField({
            label: 'HubSpot Store Admin URI',
            instructions: "The store admin URI of your HubSpot store.",
            id: 'storeAdminUri',
            name: 'settings[storeAdminUri]',
            placeholder: "",
            value: settings.storeAdminUri,
            errors: settings.getErrors('storeAdminUri'),
            suggestEnvVars: true,
            autofocus: false,
        }) }}

    </form>

{% endblock %}
