{% extends "hub-spot-ecommerce-bridge/_layouts/mappings" %}

{% import "_includes/forms" as forms %}

{% block content %}

    <h2>{{ "Line Items" }}</h2>

    <p>{{ "Set the mappings for Line Item data between Craft Commerce and HubSpot" }}</p>

    <form action="" method="post" accept-charset="UTF-8" data-saveshortcut onsubmit="return confirm('Please ensure all fields exist in Hubspot as properties of Line Items.');">
        <input type="hidden" name="action" value="hub-spot-ecommerce-bridge/line-items/save-settings">
        {{ redirectInput('hub-spot-ecommerce-bridge/mappings/line-items') }}
        {{ csrfInput() }}

        {{ forms.textField({
            label: 'Hubspot Product ID',
            id: 'productId',
            name: 'productId',
            value: lineItemSettings.productId,
            errors: lineItemSettings.getErrors('productId'),
            disabled: true,
        }) }}

        {{ forms.textField({
            label: 'Quantity',
            id: 'qty',
            name: 'qty',
            value: lineItemSettings.qty,
            errors: lineItemSettings.getErrors('qty'),
            disabled: true,
        }) }}

        {{ forms.textField({
            label: 'Description',
            id: 'description',
            name: 'description',
            value: lineItemSettings.description,
            errors: lineItemSettings.getErrors('description'),
            disabled: true,
        }) }}

        {{ forms.textField({
            label: 'Price',
            id: 'price',
            name: 'price',
            value: lineItemSettings.price,
            errors: lineItemSettings.getErrors('price'),
            disabled: true,
        }) }}

        <input type="submit" class="btn submit" value="{{ 'Save' }}" />
    </form>
{% endblock %}
