{% extends "hub-spot-ecommerce-bridge/_layouts/mappings" %}

{% import "_includes/forms" as forms %}

{% block content %}

    <h2>{{ "Orders" }}</h2>

    <p>{{ "Set the mappings for Order data between Craft Commerce and HubSpot" }}</p>

    <form action="" method="post" accept-charset="UTF-8" data-saveshortcut onsubmit="return confirm('Careful! \nAll HubSpot data stored in the changed fields will be deleted. \nAre you sure you want to save changes?');">
        <input type="hidden" name="action" value="hub-spot-ecommerce-bridge/orders/save-settings">
        {{ redirectInput('hub-spot-ecommerce-bridge/mappings/orders') }}
        {{ csrfInput() }}

        {{ forms.textField({
            label: 'Order Number',
            id: 'orderNumber',
            name: 'orderNumber',
            placeholder: orderSettings.orderNumber,
            value: orderSettings.orderNumber,
            errors: orderSettings.getErrors('orderNumber'),
            instructions: "This field will be automatically created for you in Hubspot.",
            disabled: true,
        }) }}

        {{ forms.textField({
            label: 'Order Name',
            id: 'orderName',
            name: 'orderName',
            placeholder: orderSettings.orderName,
            value: orderSettings.orderName,
            errors: orderSettings.getErrors('orderName'),
            disabled: true,
        }) }}

        {{ forms.textField({
            label: 'Order Stage',
            id: 'orderStage',
            name: 'orderStage',
            placeholder: orderSettings.orderStage,
            value: orderSettings.orderStage,
            errors: orderSettings.getErrors('orderStage'),
            disabled: true,
        }) }}

        {{ forms.textField({
            label: 'Total Price',
            id: 'totalPrice',
            name: 'totalPrice',
            placeholder: orderSettings.totalPrice,
            value: orderSettings.totalPrice,
            errors: orderSettings.getErrors('totalPrice'),
            disabled: true,
        }) }}

        {{ forms.textField({
            label: 'Deal Type',
            id: 'dealType',
            name: 'dealType',
            placeholder: orderSettings.dealType,
            value: orderSettings.dealType,
            errors: orderSettings.getErrors('dealType'),
            disabled: true,
        }) }}

        {{ forms.textField({
            label: 'Discount Amount',
            id: 'discountAmount',
            name: 'discountAmount',
            placeholder: orderSettings.discountAmount,
            value: orderSettings.discountAmount,
            errors: orderSettings.getErrors('discountAmount'),
            disabled: false,
        }) }}

        {{ forms.textField({
            label: 'Discount Code',
            id: 'discountCode',
            name: 'discountCode',
            placeholder: orderSettings.discountCode,
            value: orderSettings.discountCode,
            errors: orderSettings.getErrors('discountCode'),
            disabled: false,
        }) }}

        {{ forms.textField({
            label: 'Date Created',
            id: 'createDate',
            name: 'createDate',
            placeholder: orderSettings.createDate,
            value: orderSettings.createDate,
            errors: orderSettings.getErrors('createDate'),
            disabled: false,
        }) }}

        {{ forms.textField({
            label: 'Order Short Number',
            id: 'orderShortNumber',
            name: 'orderShortNumber',
            placeholder: orderSettings.orderShortNumber,
            value: orderSettings.orderShortNumber,
            errors: orderSettings.getErrors('orderShortNumber'),
            disabled: false,
        }) }}

        <input type="submit" class="btn submit" value="{{ 'Save' }}">
    </form>
{% endblock %}
