{% extends "hub-spot-ecommerce-bridge/_layouts/mappings" %}

{% import "_includes/forms" as forms %}

{% block content %}

    <h2>{{ "Products" }}</h2>

    <p>{{ "Set the mappings for Product data between Craft Commerce and HubSpot" }}</p>

    <form action="" method="post" accept-charset="UTF-8" data-saveshortcut onsubmit="return confirm('Please ensure all fields exist in Hubspot as properties of Products.');">
        <input type="hidden" name="action" value="hub-spot-ecommerce-bridge/products/save-settings">
        {{ redirectInput('hub-spot-ecommerce-bridge/mappings/products') }}
        {{ csrfInput() }}

        {{ forms.textField({
            label: 'SKU',
            id: 'sku',
            name: 'sku',
            value: productSettings.sku,
            errors: productSettings.getErrors('sku'),
            disabled: true,
        }) }}

        {{ forms.textField({
            label: 'Price',
            id: 'price',
            name: 'price',
            value: productSettings.price,
            errors: productSettings.getErrors('price'),
            disabled: true,
        }) }}

        {{ forms.textField({
            label: 'Title',
            id: 'title',
            name: 'title',
            value: productSettings.title,
            errors: productSettings.getErrors('title'),
            disabled: true,
        }) }}

        {{ forms.textField({
            label: 'Size',
            id: 'size',
            name: 'size',
            value: productSettings.size,
            errors: productSettings.getErrors('size'),
        }) }}

        {{ forms.textField({
            label: 'Colour',
            id: 'colour',
            name: 'colour',
            value: productSettings.colour,
            errors: productSettings.getErrors('colour'),
        }) }}

        {{ forms.textField({
            label: 'Sheen',
            id: 'sheen',
            name: 'sheen',
            value: productSettings.sheen,
            errors: productSettings.getErrors('sheen'),
        }) }}

        {{ forms.textField({
            label: 'Size (Litres)',
            id: 'size_litres',
            name: 'size_litres',
            value: productSettings.size_litres,
            errors: productSettings.getErrors('size_litres'),
        }) }}

        <input type="submit" class="btn submit" value="{{ 'Save' }}">
    </form>
{% endblock %}
